In [1]:
l = [4,5,6]
tuple(l)

(4, 5, 6)

In [2]:
import pandas as pd

In [3]:
l

[4, 5, 6]

In [4]:
pd.DataFrame

pandas.core.frame.DataFrame

In [5]:
d = {'name': ['hello','gopallll',"hey"], 'bir': [3, 4, 2]}
df = pd.DataFrame(data=d)
df["bir"].max()
df["bir"].median()

3.0

In [6]:
df.to_csv("hello.csv")

In [7]:
data =  pd.read_csv("hello.csv")

In [8]:
data["name"]
data.head(1)

   Unnamed: 0   name  bir
0           0  hello    3

In [9]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df.describe()

       bir
count  3.0
mean   3.0
std    1.0
min    2.0
25%    2.5
50%    3.0
75%    3.5
max    4.0

In [11]:
mstl =[]

In [12]:
name = ['hello','gopal',"hey"]

In [13]:
bir = [23,23,44]

In [14]:
d = [(data["name"][i],data["bir"][j]) for i in range(len(data["name"])) for j in range(len(data["bir"])) if i == j]
d

[('hello', 3), ('gopallll', 4), ('hey', 2)]

In [15]:
for i in range(len(name)):
    for j in range(len(bir)):
        if i == j:
            mstl.append((name[i],bir[j]))

In [16]:
mstl

[('hello', 23), ('gopal', 23), ('hey', 44)]

In [17]:
d

[('hello', 3), ('gopallll', 4), ('hey', 2)]

In [18]:
"hello world", d

('hello world', [('hello', 3), ('gopallll', 4), ('hey', 2)])