#### imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
df =  pd.read_excel("All_IPL_Match_Scores_Easy.xlsx")

In [3]:
df.head(2)

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN

In [4]:
df.columns

Index(['Match_Number', 'Match', 'Date', 'Year', 'Venue', 'Team_Batting_First',
       'Team_Batting_Second', 'Bat_First_Runs_Scored',
       'Bat_First_Wickets_Lost', 'Bat_First_Overs_Consumed',
       'Bat_First_Overs_Allocated', 'Bat_Second_Runs_Scored',
       'Bat_Second_Wickets_Lost', 'Bat_Second_Overs_Consumed',
       'Bat_Second_Overs_Allocated', 'Winner', 'Winning_Team',
       'Winning_Margin', 'Win_Type', 'Bat_First_Run_Rate',
       'Bat_Second_Run_Rate', 'Balls_Remaining', 'Bat_First_5_ov_score',
       'Bat_First_5_ov_wkts_lost', 'Bat_First_10_ov_score',
       'Bat_First_10_ov_wkts_lost', 'Bat_First_15_ov_score',
       'Bat_First_15_ov_wkts_lost', 'Bat_First_20_ov_score',
       'Bat_First_20_ov_wkts_lost', 'Bat_Second_5_ov_score',
       'Bat_Second_5_ov_wkts_lost', 'Bat_Second_5_ov_Req_RR',
       'Bat_Second_10_ov_score', 'Bat_Second_10_ov_wkts_lost',
       'Bat_Second_10_ov_Req_RR', 'Bat_Second_15_ov_score',
       'Bat_Second_15_ov_wkts_lost', 'Bat_Second_15_ov_Req_RR',
       'Bat_Second_20_ov_score', 'Bat_Second_20_ov_wkts_lost', 'Match_Time',
       'Duckworth Lewis Used'],
      dtype='object')

#### Create DataFrame

In [5]:
df1 = pd.DataFrame(columns=[
                      'Total Number of Matches',
                      'Number of matches Team Batting First Won',
                      'Number of matches team Chasing Won',
                      'Number of times Match Tied', ],
             index=[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015])

##### add Total Number of Matches in column

In [6]:
df1['Total Number of Matches'] = df['Year'].value_counts()

In [7]:
df1

,Total Number of Matches,Number of matches Team Batting First Won,Number of matches team Chasing Won,Number of times Match Tied
2008,58,NaN,NaN,NaN
2009,57,NaN,NaN,NaN
2010,60,NaN,NaN,NaN
2011,72,NaN,NaN,NaN
2012,74,NaN,NaN,NaN
2013,76,NaN,NaN,NaN
2014,60,NaN,NaN,NaN
2015,57,NaN,NaN,NaN

In [8]:
yearWin =  df[['Year','Winning_Team']]

In [14]:
yearWin.groupby('Year')['Winning_Team'].value_counts()

Year  Winning_Team
2008  Chasing         36
      FirstBatting    22
2009  Chasing         30
      FirstBatting    26
      Match Tied       1
2010  FirstBatting    31
      Chasing         28
      Match Tied       1
2011  Chasing         40
      FirstBatting    32
2012  Chasing         40
      FirstBatting    34
2013  Chasing         37
      FirstBatting    37
      Match Tied       2
2014  Chasing         37
      FirstBatting    22
      Match Tied       1
2015  FirstBatting    32
      Chasing         24
      Match Tied       1
Name: Winning_Team, dtype: int64

In [10]:
# df1['Number of matches Team Batting First Won	'] = 
number_of_matches_Team_Batting_First_Won	= yearWin.groupby('Year')['Winning_Team'].value_counts().filter(regex="FirstBatting")
number_of_matches_team_Chasing_Won = yearWin.groupby('Year')['Winning_Team'].value_counts().filter(regex="Chasing")
number_of_times_Match_Tied = yearWin.groupby('Year')['Winning_Team'].value_counts().filter(regex="Match Tied")

In [11]:
number_of_matches_Team_Batting_First_Won

Year  Winning_Team
2008  FirstBatting    22
2009  FirstBatting    26
2010  FirstBatting    31
2011  FirstBatting    32
2012  FirstBatting    34
2013  FirstBatting    37
2014  FirstBatting    22
2015  FirstBatting    32
Name: Winning_Team, dtype: int64

In [12]:
number_of_matches_team_Chasing_Won

Year  Winning_Team
2008  Chasing         36
2009  Chasing         30
2010  Chasing         28
2011  Chasing         40
2012  Chasing         40
2013  Chasing         37
2014  Chasing         37
2015  Chasing         24
Name: Winning_Team, dtype: int64

In [13]:
number_of_times_Match_Tied

Year  Winning_Team
2009  Match Tied      1
2010  Match Tied      1
2013  Match Tied      2
2014  Match Tied      1
2015  Match Tied      1
Name: Winning_Team, dtype: int64