#### imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
df =  pd.read_excel("All_IPL_Match_Scores_Easy.xlsx")

In [3]:
df.head(2)

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN

In [4]:
df.columns

Index(['Match_Number', 'Match', 'Date', 'Year', 'Venue', 'Team_Batting_First',
       'Team_Batting_Second', 'Bat_First_Runs_Scored',
       'Bat_First_Wickets_Lost', 'Bat_First_Overs_Consumed',
       'Bat_First_Overs_Allocated', 'Bat_Second_Runs_Scored',
       'Bat_Second_Wickets_Lost', 'Bat_Second_Overs_Consumed',
       'Bat_Second_Overs_Allocated', 'Winner', 'Winning_Team',
       'Winning_Margin', 'Win_Type', 'Bat_First_Run_Rate',
       'Bat_Second_Run_Rate', 'Balls_Remaining', 'Bat_First_5_ov_score',
       'Bat_First_5_ov_wkts_lost', 'Bat_First_10_ov_score',
       'Bat_First_10_ov_wkts_lost', 'Bat_First_15_ov_score',
       'Bat_First_15_ov_wkts_lost', 'Bat_First_20_ov_score',
       'Bat_First_20_ov_wkts_lost', 'Bat_Second_5_ov_score',
       'Bat_Second_5_ov_wkts_lost', 'Bat_Second_5_ov_Req_RR',
       'Bat_Second_10_ov_score', 'Bat_Second_10_ov_wkts_lost',
       'Bat_Second_10_ov_Req_RR', 'Bat_Second_15_ov_score',
       'Bat_Second_15_ov_wkts_lost', 'Bat_Second_15_ov_Req_RR',
       'Bat_Second_20_ov_score', 'Bat_Second_20_ov_wkts_lost', 'Match_Time',
       'Duckworth Lewis Used'],
      dtype='object')

#### Create DataFrame

In [5]:
df1 = pd.DataFrame(columns=[
                      'Total Number of Matches',
                      'Number of matches Team Batting First Won',
                      'Number of matches team Chasing Won',
                      'Number of times Match Tied', ],
             index=[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015])

##### add Total Number of Matches in column

In [6]:
df1['Total Number of Matches'] = df['Year'].value_counts()

In [7]:
df1

,Total Number of Matches,Number of matches Team Batting First Won,Number of matches team Chasing Won,Number of times Match Tied
2008,58,NaN,NaN,NaN
2009,57,NaN,NaN,NaN
2010,60,NaN,NaN,NaN
2011,72,NaN,NaN,NaN
2012,74,NaN,NaN,NaN
2013,76,NaN,NaN,NaN
2014,60,NaN,NaN,NaN
2015,57,NaN,NaN,NaN

In [8]:
yearWin =  df[['Year','Winning_Team']]

In [9]:
yearWin.groupby('Year')['Winning_Team'].value_counts()

Year  Winning_Team
2008  Chasing         36
      FirstBatting    22
2009  Chasing         30
      FirstBatting    26
      Match Tied       1
2010  FirstBatting    31
      Chasing         28
      Match Tied       1
2011  Chasing         40
      FirstBatting    32
2012  Chasing         40
      FirstBatting    34
2013  Chasing         37
      FirstBatting    37
      Match Tied       2
2014  Chasing         37
      FirstBatting    22
      Match Tied       1
2015  FirstBatting    32
      Chasing         24
      Match Tied       1
Name: Winning_Team, dtype: int64

In [10]:
# df1['Number of matches Team Batting First Won	'] = 
number_of_matches_Team_Batting_First_Won	= yearWin.groupby('Year')['Winning_Team'].value_counts().filter(regex="FirstBatting")
number_of_matches_team_Chasing_Won = yearWin.groupby('Year')['Winning_Team'].value_counts().filter(regex="Chasing")
number_of_times_Match_Tied = yearWin.groupby('Year')['Winning_Team'].value_counts().filter(regex="Match Tied")

In [11]:
number_of_matches_Team_Batting_First_Won

Year  Winning_Team
2008  FirstBatting    22
2009  FirstBatting    26
2010  FirstBatting    31
2011  FirstBatting    32
2012  FirstBatting    34
2013  FirstBatting    37
2014  FirstBatting    22
2015  FirstBatting    32
Name: Winning_Team, dtype: int64

In [12]:
number_of_matches_team_Chasing_Won

Year  Winning_Team
2008  Chasing         36
2009  Chasing         30
2010  Chasing         28
2011  Chasing         40
2012  Chasing         40
2013  Chasing         37
2014  Chasing         37
2015  Chasing         24
Name: Winning_Team, dtype: int64

In [13]:
number_of_times_Match_Tied

Year  Winning_Team
2009  Match Tied      1
2010  Match Tied      1
2013  Match Tied      2
2014  Match Tied      1
2015  Match Tied      1
Name: Winning_Team, dtype: int64

In [14]:
ans= df[(df['Winning_Team']=='Match Tied') | (df['Balls_Remaining']<=3)]

In [15]:
ans

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.0,118.0,4.0,9.6,166.0,5.0,Evening,NaN
7,8,League Match,Apr 23,2008,Chennai,Chennai,Mumbai,208,5,20.0,...,83.0,3.0,12.6,134.0,5.0,15.0,202.0,7.0,Evening,NaN
8,9,League Match,Apr 24,2008,Hyderabad,Hyderabad,Rajasthan,214,5,20.0,...,114.0,2.0,10.1,159.0,3.0,11.2,217.0,7.0,Evening,NaN
9,10,League Match,Apr 25,2008,Mohali,Punjab,Mumbai,182,10,20.0,...,67.0,4.0,11.6,101.0,7.0,16.4,116.0,9.0,Evening,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,506,League Match,May 14,2015,Mumbai,Mumbai,Kolkata,171,4,20.0,...,74.0,2.0,9.8,122.0,4.0,10.0,166.0,7.0,Evening,NaN
506,507,League Match,May 15,2015,Hyderabad,Hyderabad,Bangalore,135,3,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evening,NaN
508,509,League Match,May 16,2015,Mumbai (BS),Rajasthan,Kolkata,199,6,20.0,...,97.0,3.0,10.3,144.0,5.0,11.2,190.0,9.0,Evening,NaN
512,513,Qualifier 2,May 22,2015,Ranchi,Bangalore,Chennai,139,8,20.0,...,62.0,3.0,7.8,91.0,3.0,9.8,140.0,7.0,Evening,NaN
513,514,Final,May 24,2015,Kolkata,Mumbai,Chennai,202,5,20.0,...,67.0,1.0,13.6,112.0,4.0,18.2,161.0,8.0,Evening,NaN

#### "A close match is defined as when either of the following is satisfied:

##### (i)   the match is ""Tied"" (captured in Column Q) 
##### (ii)  Balls remaining at the end of the match (Column V) < =  3
##### (iii) chasing team wins (Column Q) with  <= 1 Wickets remaining (Column R and S)  
##### (iv)  chasing team loses (Column Q) by <= 5 runs. (Column R and S)"

In [16]:
ans1 = df[(df['Winning_Team'] == 'Match tied') | 
          (df['Balls_Remaining'] <= 3) | 
          ((df['Win_Type'] == 'run' ) & (df['Winning_Margin'] <= 5)) | 
          ((df['Win_Type'] == 'wicket' ) & (df['Winning_Margin'] <= 1))]

In [17]:
ans1 = ans1['Year']

In [18]:
ans1

1      2008
4      2008
7      2008
8      2008
9      2008
       ...
505    2015
506    2015
508    2015
512    2015
513    2015
Name: Year, Length: 281, dtype: int64

#### "For the 4 teams listed, determine which team has won the most percentage of their matches batting first across all IPLs. To do this, compute for each team: 
##### (i)   A=total number of matches won by the team 
##### (ii)  B=how many matches they won batting first
##### Percent won batting first = (B / A) *100"

In [19]:
df['Winning_Team']== 'Chennai'

0      False
1      False
2      False
3      False
4      False
       ...
509    False
510    False
511    False
512    False
513    False
Name: Winning_Team, Length: 514, dtype: bool

In [20]:
def getTeamAvg(teamName):
    x = (df[(df['Team_Batting_First']==teamName) & 
            (df['Winner']==teamName)].Match_Number.count()*100)/df[df['Winner']==teamName].Match_Number.count()
    return x

In [21]:
getTeamAvg('Chennai')

56.962025316455694

Carefully see columns W to AO and answer following insights				
Q1	Identify potential "odd" scoring patterns				
    (a) Identify a match where team batting second had 6 wickets in hand at 15 overs stage with 33 runs to score of last 5 overs….the team still lost.				
	 Match No.	Team Batting Second	Team Batting First	Date ?	?	?

In [22]:
matches = df[(df['Winning_Team'] == 'FirstBatting')&
             (df['Bat_Second_15_ov_wkts_lost'] == 4)&
             (df['Bat_First_20_ov_score'] - df['Bat_Second_15_ov_score']==32)]

In [23]:
matches

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
342,343,League Match,Apr 17,2013,Pune,Hyderabad,Pune,119,8,20.0,...,65.0,3.0,5.5,87.0,4.0,6.6,NaN,NaN,Afternoon,NaN

In [24]:
matches_2 = df[(df['Bat_First_15_ov_wkts_lost']==2)&
             (df['Bat_First_20_ov_score']-df['Bat_First_15_ov_score']<25)]

##### (b) Identify matches where team batting first had only lost 2 wickets at 15 overs stage but then scored less than 25 runs in the last 5 overs!

In [25]:
matches_2

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
100,101,League Match,May 14,2009,Durban,Rajasthan,Mumbai,145,7,20.0,...,54.0,3.0,9.2,98.0,5.0,9.6,143.0,10.0,Evening,NaN

"Build a linear regression model to predict the 20 over score of team batting first using the following predictor variables:
##### (i)     5 over score (Column W)
##### (ii)    5 over wickets lost (Column X)
##### (iii) 10 over score (Column Y)
##### (iv)  10 over wickets lost (Column Z)"

In [31]:
x = np.array([[4, 9, 2, 10],
              [6, 9, 7, 12]])

In [32]:
x

array([[ 4,  9,  2, 10],
       [ 6,  9,  7, 12]])

In [36]:
x[0:2,1:3]

array([[9, 2],
       [9, 7]])